@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* https://coolors.co/ad343e-474747-f2af29-000000-fbfefb */
/* https://www.quicksprout.com/trending-website-color-schemes/ */
/* https://a11y-101.com/design/button-vs-link */

/* https://codepen.io/vncnz/pen/rzMEMZ recuperare menu */
:root {
  --whiteee: whitesmoke;
  --black: hsl(173, 43%, 4%);
  --red: hsl(355, 55%, 45%);
  --red-transparent: hsl(355, 55%, 90%);
  --gray: #999;
  --yellow: #f2af29;
  --cornflower: #4C5270;
  --cornflower-light: hsl(230, 19%, 88%);
  --hotpink: #F652A0;
  --cyan: #36EEE0;
  --tiffanyblue: #BCECE0;

  --buff: hsl(45, 84%, 76%);
  --deep-saffron: #E67300;
  --deep-saffron-transparent: hsl(30, 100%, 60%, 0.3);
  --space-cadet: hsl(254, 31%, 27%);
  --space-cadet-light: hsl(254, 31%, 88%);

  --primary: #8d0000; /* darkred */
  --secondary: #77A0A9; /* pewter blue */
  --white: #fafafa;

  /* font-size: calc(3mm + .3vw); */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

#app {
  /* display: grid;
  grid-template-areas:
    "header nav"
    "nav main"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr; */
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1;
  color: var(--black);
  background-color: var(--white);
}

header {
  /* grid-area: header; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  /*background-image: linear-gradient(141deg, #009e6c 0, #00d1b2 71%, #00e7eb 100%);*/
  /*background-color: var(--space-cadet);*/
  color: var(--primary);
  text-transform: uppercase;
}
header > *:first-child {
  font-size: 1.6rem;
}

footer {
  /* grid-area: footer; */
  padding: .25rem .5rem;
  font-size: 0.85rem;
  border-top: 1px solid var(--gray);
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  padding: 0 0.5rem;
  line-height: 1.8rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  position: relative;
  color: var(--black);
}
nav a.router-link-active:before {
  font-weight: bold;
}
nav a:after {
  position: absolute;
  display: block;
  content: '';
  background: red;
  height: 2px;
  bottom: -2px;
  left: 50%;
  width: 0%;
  transform: translate(-50%);
  transition: width .3s ease;
}
nav a:hover:after {
  width: 100%;
  width: calc(100% - 2rem);
}
/*
nav a {
  color: var(--black);
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 .5rem;
  text-shadow: 1px 1px 2px var(--white);
}
nav a:before {
  position: absolute;
  display: block;
  content: '';
  background: var(--deep-saffron);
  padding: 0 .2rem;
  height: .1rem;
  bottom: .1rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  transition: width .3s ease, height .3s ease, background-color .3s ease;
  z-index: 0;
}

nav a span {
  z-index: 1;
  position: relative;
}
nav a:hover:before,
nav a:active:before {
  height: calc(100% - .2rem) !important;
}
nav a.router-link-active:before {
  background-color: var(--deep-saffron);
  height: .3rem;
}*/

#router-box {
  /* grid-area: main; */
  display: flex;
  flex: 1;
  overflow: auto;
  align-self: stretch;
  position: relative;
  padding: .5rem;
}

#router-box > div {
  width: 100%;
}

.numeric {
  text-align: right;
  font-family: 'Roboto Mono', monospace;
}

/* .sortable::before {
  display: inline-block;
  font: normal normal normal 75%/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: .3;
  content: "\f160";
  cursor: pointer;
  margin-right: .2rem;
}
.sortable.sorted-asc::before {
  opacity: 1;
  color: var(--deep-saffron);
  content: "\f160";
}
.sortable.sorted-desc::before {
  opacity: 1;
  color: var(--deep-saffron);
  content: "\f161";
}
.sortable:hover::before {
  color: var(--deep-saffron);
} */

.asLink {
  /*text-decoration: underline;*/
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 2px var(--white);
}
.asLink::after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 75%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f08e";
  margin-left: .1rem;
}
* + .asLink {
  margin-left: .5rem;
}
.asLink:before {
  position: absolute;
  display: block;
  content: '';
  background: var(--deep-saffron);
  padding: 0 .2rem;
  height: .15rem;
  bottom: .1rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  transition: width .3s ease, height .3s ease;
  z-index: -1;
}
.asLink:hover:before {
  height: calc(100% - .2rem);
}

.sub-text {
  display: inline-block;
  font-size: 85%;
  line-height: 1rem;
}

.on-right {
  float: right;
}

.toolbar {
  /* position: sticky;
  background-color: var(--cornflower-light);
  box-shadow: 0 0 6px var(--cornflower), 0 0 4px var(--cornflower), 0 0 2px var(--cornflower);
  border-radius: .1rem;
  bottom: .2rem;
  right: .2rem;
  margin: .2rem auto;
  padding: .2rem;
  width: auto;
  z-index: 100;
  display: inline-block;
  float: right; */
  float: right;
}

button {
  background-color: var(--white);
  border: 1px solid var(--space-cadet);
  border-radius: 0.3rem;
  padding: .3rem .5rem;
  cursor: pointer;
  box-shadow: 2px 2px 0 var(--gray);
  transition: all .15s ease;
  will-change: background-color, transform;
}
button:hover,
button:focus {
  box-shadow: 1px 1px 0 var(--gray);
  transform: translate(1px, 1px);
  background-color: var(--deep-saffron-transparent);
  outline: none;
}
button:active {
  box-shadow: 0 0 0 var(--gray);
  background-color: var(--deep-saffron);
  transform: translate(2px, 2px);
}

/*button {
  display: inline-block;
  text-decoration: none;
  background: #3445B3;
  color: white;
  padding: .7rem;
  margin: .3rem .5rem;
  border-radius: 0;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}
button:before {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: absolute;
  content: '';
  border: 0px solid #6271d1;
  transition: all .3s ease;
  will-change: width, height;
  pointer-events: none;
}
button:hover:before,
button:focus:before {
  border-width: .25rem;
}

button.fab {
  border-radius: 50%;
  margin: .1rem;
}
button.fab:before {
  border-radius: 50%;
}

button.buttonlink {
  background-color: inherit;
  border: 2px solid #3445B3;
  color: inherit;
}
button.buttonlink::before {
  display: inline-block;
  font: normal normal normal 85%/1rem FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f08e";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  left: 100%;
  transform: translate(-50%, -50%);
  height: auto;
  background: #3445B3;
  color: white;
  padding: .2rem;
  border-radius: 100%;
}*/

fieldset {
  border: 1px solid lightgray;
  padding: .5rem;
}

legend {
  margin-left: .5rem;
}

.input-box-2 {
  position: relative;
  display: block;
  margin: .5rem 0;
}

.input-box-2 label {
  color: inherit;
  display: block;
}

.input-box-2 .error-msg {
  color: gray;
  margin-top: -1.2rem;
}
.input-box-2 input.dirty + .error-msg,
.input-box-2 select.dirty + .error-msg,
.input-box-2 textarea.dirty + .error-msg {
  color: orangered;
}

.input-box-2 input:invalid,
.input-box-2 select:invalid,
.input-box-2 textarea:invalid {
  border-color: orangered;
}

.input-box-2 input,
.input-box-2 select,
.input-box-2 textarea {
  width: 100%;
  margin-left: 1px;
  margin-bottom: 1.2rem;
  padding: .3rem;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 1px solid var(--gray);
  font-family: inherit;
}

.input-box-2 select {
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	  /*linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);*/
  background-color: var(--white);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.input-box {
  position: relative;
  border: 2px solid gray;
  display: inline-block;
  margin: .5rem;
  /*width: $inputWidth;
  flex-basis: $inputWidth;*/
}

.input-box input {
  padding: .5rem .5rem .9rem;
  width: 100%;
  height: 40px;
  border: none;
  font-family: inherit;
}

.input-box input:disabled {
  opacity: .5;
  /* background-image:
      linear-gradient(to top left,
          transparent 0%,
          transparent calc(50% - 1.5px),
          var(--gray) 50%,
          transparent calc(50% + 1.5px),
          transparent 100%),
      linear-gradient(to top right,
          transparent 0%,
          transparent calc(50% - 1.5px),
          var(--gray) 50%,
          transparent calc(50% + 1.5px),
          transparent 100%); */
}

.input-box label {
  position: absolute;
  bottom: .7rem;
  left: .5rem;
  color: gray;
  pointer-events: none;
  transition: all .15s ease, background-color .05s ease;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  color: var(--black);
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 70%;
  font-weight: bold;
  background-color: var(--deep-saffron);
  padding: 0 .5rem;
  transition: all .15s ease, background-color .25s .05s ease;
  text-transform: uppercase;
}

.toolbar button {
  margin-left: .2rem;
}
.toolbar button:first-child {
  margin-left: 0;
}

.dcontainer .dglass {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  opacity: 0.75;
  z-index: 999;
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  background: var(--white);
  box-shadow: 1px 1px 0.1rem var(--gray);
  border-radius: .3rem;
  border: 1px solid var(--gray);
  padding: .5rem;
  z-index: 1000;
}
.dialog .dheader {
  flex: 0;
}
.dialog .dbody {
  flex: 1;
  overflow: auto;
}
.dialog .dfooter {
  flex: 0;
  text-align: right;
  margin-top: .5rem;
}
.dialog .dfooter button + button {
  margin-left: .5rem;
}

table {
  /* border-collapse: collapse; */
  border-collapse: separate; /* Valore predefinito, necessario per gestire i bordi in presenza position: sticky */
  border-spacing: 0;
  min-width: 100%;
}
table tr {
  background: var(--white);
}
table tbody tr:nth-child(2n) {
  background: #eee;
}
table tbody tr:hover {
  background: var(--space-cadet-light);
}
table th {
  font-weight: 400;
}
table th,
table td {
  text-align: left;
  padding: .5rem;
  height: 3rem;
  border-right: 1px dotted lightgray;
}
table thead th {
  position: sticky;
  top: -0.5rem;
  background-color: var(--white);
  z-index: 5;
  border-bottom: 1px solid var(--black);
}
table th.sortable {
  cursor: pointer;
}
table button.on-right {
  margin-left: .5rem;
}
table tfoot td {
  position: sticky;
  bottom: 0;
  /* background-color: var(--space-cadet-light); */
  box-shadow: 0 .6rem 0 var(--white);
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 5;
}
table th.sticky,
table td.sticky {
  position: sticky;
  left: -0.5rem;
  background-color: inherit;
  z-index: 1;
}
table thead th.sticky {
  z-index: 7;
}

@media (max-width: 700px) {
  table.responsive thead {
    display: none;
  }

  table.responsive tr,
  table.responsive td,
  table.responsive th {
    display: block;
    text-align: right;
    min-height: 2rem;
  }
  table.responsive tbody tr {
    background: inherit;
  }
  table.responsive tbody td:nth-child(2n) {
    background: #eee;
  }
  table.responsive tbody td::before,
  table.responsive tbody th::before {
    content: attr(data-title);
    float: left;
  }
  table.responsive td.sticky,
  table.responsive tbody th.sticky {
    position: sticky;
    top: -0.5rem;
    background-color: var(--space-cadet) !important;
    color: var(--white);
    margin-top: .5rem;
    z-index: 5;
  }

  .dialog {
    width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
  }
}

/* .order-grid {
  display: grid;
  grid-template-areas:
    "ord_identifier"
    "nav main"
    "footer footer";
  grid-template-columns: auto auto;
} */

#notify {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: calc(100% - 2rem);
  z-index: 10000;
}

#notify div {
  padding: .5rem;
  background-color: var(--white);
  box-shadow: 2px 2px 5px var(--gray);
  margin-top: .5rem;
  border-left: .2rem solid gray;
  border-radius: .2rem;
}
#notify div button.close {
  float: right;
  margin-left: 1rem;
}
#notify div.success {
  border-color: green;
}
#notify div.error {
  border-color: red;
}
.notification-move {
  transition: transform .4s;
}
.notification-leave {
  transform: translateX(1rem);
  transition: transform .2s;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#login-box {
  max-width: 20rem;
  /* justify-self: center; */
  align-self: center;
  margin: 0 auto;
}