@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* https://coolors.co/ad343e-474747-f2af29-000000-fbfefb */
/* https://www.quicksprout.com/trending-website-color-schemes/ */
/* https://a11y-101.com/design/button-vs-link */
:root {
  --white: whitesmoke;
  --black: hsl(173, 43%, 4%);
  --red: hsl(355, 55%, 45%);
  --red-transparent: hsl(355, 55%, 90%);
  --grey: #474747;
  --yellow: #f2af29;
  --cornflower: #4C5270;
  --cornflower-light: hsl(230, 19%, 88%);
  --hotpink: #F652A0;
  --cyan: #36EEE0;
  --tiffanyblue: #BCECE0;

  --buff: hsl(45, 84%, 76%);
  --deep-saffron: hsl(30, 100%, 60%);
  --space-cadet: hsl(254, 31%, 27%);
  --space-cadet-light: hsl(254, 31%, 88%);

  font-size: calc(3mm + .3vw);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100vh;
}

#app {
  /* display: grid;
  grid-template-areas:
    "header nav"
    "nav main"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr; */
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  color: var(--black);
  background-color: var(--white);
}

header {
  /* grid-area: header; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  /*background-image: linear-gradient(141deg, #009e6c 0, #00d1b2 71%, #00e7eb 100%);*/
  background-color: var(--space-cadet);
  color: var(--white);
  font-weight: bold;
}
header > *:first-child {
  font-size: 1.6rem;
}

footer {
  /* grid-area: footer; */
  padding: .25rem .5rem;
  font-size: 0.85rem;
  border-top: 1px solid var(--grey);
}

nav a {
  color: inherit;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 .5rem;
  text-shadow: 1px 1px 2px var(--black);
}
nav a:before {
  position: absolute;
  display: block;
  content: '';
  background: var(--buff);
  padding: 0 .2rem;
  height: .3rem;
  bottom: .1rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  transition: width .3s ease, height .3s ease, background-color .3s ease;
  z-index: 0;
}

nav a span {
  z-index: 1;
  position: relative; /* necessario perché prenda in considerazione lo z-index */
}
nav a:hover:before,
nav a:active:before {
  /* width: 100%;
  width: calc(100% - .5rem);*/
  height: calc(100% - .2rem);
  /*animation: .3s forwards hover-v ease-in;*/
}
nav a.router-link-active:before {
  background-color: var(--deep-saffron);
  /*height: 100%;*/
}
/*@keyframes hover-v {
  0% {
    background: var(--white);
    width: 80%;
    height: .2rem;
  }
  35% {
    background: var(--black);
    width: 100%;
    height: .2rem;
  }
  100% {
    background: var(--black);
    width: 100%;
    height: 100%;
  }
}*/

#router-box {
  /* grid-area: main; */
  overflow: auto;
  align-self: stretch;
  position: relative;
  padding: .5rem;
  flex: 1;
}

.numeric {
  text-align: right;
  font-family: 'Roboto Mono', monospace;
}

.sortable::before {
  display: inline-block;
  font: normal normal normal 75%/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: .3;
  content: "\f160";
  cursor: pointer;
  margin-right: .2rem;
}
.sortable.sorted-asc::before {
  opacity: 1;
  color: var(--deep-saffron);
  content: "\f160";
}
.sortable.sorted-desc::before {
  opacity: 1;
  color: var(--deep-saffron);
  content: "\f161";
}
.sortable:hover::before {
  color: var(--deep-saffron);
}

.asLink {
  /*text-decoration: underline;*/
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 2px var(--white);
}
.asLink::after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 75%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f08e";
  margin-left: .1rem;
}
* + .asLink {
  margin-left: .5rem;
}
.asLink:before {
  position: absolute;
  display: block;
  content: '';
  background: var(--deep-saffron);
  padding: 0 .2rem;
  height: .15rem;
  bottom: .1rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  transition: width .3s ease, height .3s ease;
  z-index: -1;
}
.asLink:hover:before {
  height: calc(100% - .2rem);
}

button.link-icon::after {
  display: inline-block;
  font: normal normal normal 75%/1 FontAwesome;
  /*font-size: 75%;*/
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f08e";
  margin-left: .1rem;
}

.sub-text {
  display: inline-block;
  font-size: 85%;
  line-height: 1rem;
}
button.link-icon {
  float: right;
  display: inline;
}

.toolbar {
  /* position: sticky;
  background-color: var(--cornflower-light);
  box-shadow: 0 0 6px var(--cornflower), 0 0 4px var(--cornflower), 0 0 2px var(--cornflower);
  border-radius: .1rem;
  bottom: .2rem;
  right: .2rem;
  margin: .2rem auto;
  padding: .2rem;
  width: auto;
  z-index: 100;
  display: inline-block;
  float: right; */
  float: right;
}

button {
  background-color: var(--white);
  border: 1px solid var(--cornflower);
  border-radius: 0.1rem;
  padding: .2rem .5rem;
  cursor: pointer;
}

.toolbar button {
  margin-left: .2rem;
}
.toolbar button:first-child {
  margin-left: 0;
}

table {
  /* border-collapse: collapse; */
  border-collapse: separate; /* Valore predefinito, necessario per gestire i bordi in presenza position: sticky */
  border-spacing: 0;
  min-width: 100%;
}
table tr {
  background: var(--white);
}
table tbody tr:nth-child(2n) {
  background: #eee;
}
table tbody tr:hover {
  background: var(--space-cadet-light);
}
table th,
table td {
  text-align: left;
  padding: .5rem;
}
table th {
  position: sticky;
  top: -0.5rem;
  background-color: var(--white);
  z-index: 5;
}
table tfoot td {
  position: sticky;
  bottom: 0;
  background-color: var(--space-cadet-light);
  box-shadow: 0 .6rem 0 var(--white);
  z-index: 5;
}
table th.sticky,
table td.sticky {
  position: sticky;
  left: -0.5rem;
  background-color: inherit;
  z-index: 1;
}
table th.sticky {
  z-index: 7;
}

@media (max-width: 700px) {
  table.responsive thead {
    display: none;
  }

  table.responsive tr,
  table.responsive td {
    display: block;
    text-align: right;
  }
  table.responsive tbody tr {
    background: inherit;
  }
  table.responsive tbody td:nth-child(2n) {
    background: #eee;
  }
  table.responsive td::before {
    content: attr(data-title);
    float: left;
  }
  table.responsive td.sticky {
    position: sticky;
    top: 0;
    background-color: var(--space-cadet) !important;
    color: var(--white);
    margin-top: .5rem;
    z-index: 5;
  }
}